@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nerko+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
}

body:before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("da-basement-games.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .85;
  z-index: -1;
}

#header {
  width: 100%;
}

#header .header-name {
  color: white;
  font-size: 45px;
  padding-left: 10px;
}

#nav-bar {
  height: 50px;
  padding: 0 10px 0 10px;
}

#nav-bar .link-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#nav-bar .link-div .link {
  display: block;
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 48px;
}

.set-card-search-container {
  margin: auto;
  width: 50%;
  padding-top: 10px;
}

.set-card-search-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.set-card-search-container .card .img-div {
  width: 50%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.set-card-search-container .card img {
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 10px;
}

.set-name {
  letter-spacing: 5px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card-div {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 40px;
  padding: 10px;
}

.card-div span {
  font-weight: bold;
  text-decoration: underline;
}

.card-div .card-name {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 5px;
}

.card-div .card-details {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-div .card-details .card-price {
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}

.card-div .card-details .type-details {
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card-div .card-details .card-text {
  border-top: 2px solid black;
  padding: 10px;
}

.css-2b097c-container {
  z-index: 11;
}

.awssld {
  height: 60vh;
  margin: 10px auto;
  width: 50%;
}

.awssld__bullets {
  opacity: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #nav-bar, .set-name, .awssld__content, .cards-are-loading {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(15px) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}

@media only screen and (max-width: 900px) {
  #header .header-name {
    font-size: 30px;
  }
  #nav-bar {
    height: 40px;
  }
  #nav-bar .link {
    font-size: 25px;
    line-height: 38px;
  }
  .set-name {
    width: 100%;
    font-size: 20px;
    letter-spacing: normal;
  }
  .set-and-card-container {
    width: 100%;
  }
  .set-and-card-container .card img {
    width: 100%;
    height: 70%;
  }
  .card-div .card-name {
    font-size: 20px;
    letter-spacing: normal;
  }
  .awssld {
    height: 60vh;
    margin: 10px auto;
    width: 100%;
  }
  .awssld__bullets {
    opacity: 1;
    bottom: 10px;
    z-index: 2;
  }
  .awssld__bullets button {
    background: #2b2222;
  }
}
/*# sourceMappingURL=style.css.map */