*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nerko+One&display=swap');
body{
    width: 100%;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}

body:before{
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('da-basement-games.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .85;
    z-index: -1;
}

#header{
    width: 100%;
    .header-name{
        color: white;
        font-size: 45px;
        padding-left: 10px;
    }
}

#nav-bar{
    height: 50px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: flex-start;
    .link{
        display: block;
        font-size: 35px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        width: fit-content;
        line-height: 48px;
    }
}


.set-and-card-container{
    margin: auto;
    width: 50%;
    padding-top: 10px;
    .card{
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        .img-div{
            width: 50%;
            margin: 0 10px;
            display: flex;
        }
        img{
            margin: auto;
            width:80%;
            height: 100%;
            border-radius: 10px;
        }
    }
}

.set-name{
    letter-spacing: 5px;
    padding: 5px;
    width: fit-content;
    margin-bottom: 5px;
    border-radius: 5px;
}

.card-div{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 40px;
    padding: 10px;
    span{
        font-weight: bold;
        text-decoration: underline;
    }
    .card-name{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        letter-spacing: 5px;
    }
    .card-details{
        flex-wrap: wrap;
        .card-price{
            padding: 10px;
            width: 100%;
            border-bottom: 2px solid black;
        }
        .type-details{
            padding: 10px;
            flex-wrap: wrap;
            width: 100%;
        }

        .card-text{
            border-top: 2px solid black;
            padding: 10px;
        }
    }
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #nav-bar, .card-div, .set-name{
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(15px);
      background-color: rgba(255, 255, 255, 0.5s);
    }
}

@media only screen and (max-width: 900px){
    #header{
        .header-name{
            font-size: 30px;
        }
    }
    #nav-bar{
        height: 40px;
        .link{
            font-size: 25px;
            line-height: 38px;
        }
    }

    .set-name{
        width: 100%;
        font-size: 20px;
        letter-spacing: normal;
    }

    .set-and-card-container{
        width: 100%;
        .card{
            img{
                width: 100%;
                height: 70%
            }
        }
    }
    .card-div{
        .card-name{
            font-size: 20px;
            letter-spacing: normal;
        }
    }
}

